.gradle/
.idea/
common-lib/build/
.gradle/8.10.2/
student-bot/build/
teacher-bot/build/
*.bin
.kotlin/*
/build/*
/build/spotless/*
**/build/*
**/.gradle/*
.run/
/common-lib/src/main/resources/config.json
/common-lib/src/main/resources/google_api_key.json
/common-lib/src/test/resources/google_api_key.json
/common-lib/src/main/resources/config-metametamoon.json
/secrets/
