services:
  backend:
    image: ghcr.io/spbu-math-cs-mse/edu-platform:latest
#    Uncomment for building an image from your local code
#    build:
#      context: .
#      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: "${CONTOUR}-edu-platform"
    environment:
      DB_LOGIN_FILE: "/run/secrets/db_user"
      DB_PASSWORD_FILE: "/run/secrets/db_password"
      STUDENT_BOT_TOKEN_FILE: "/run/secrets/student_bot_token"
      TEACHER_BOT_TOKEN_FILE: "/run/secrets/teacher_bot_token"
      ADMIN_BOT_TOKEN_FILE: "/run/secrets/admin_bot_token"
      PARENT_BOT_TOKEN_FILE: "/run/secrets/parent_bot_token"
      GOOGLE_SHEETS_SERVICE_ACCOUNT_KEY_FILE: "/run/secrets/google_api_key"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - "./logs/${CONTOUR}:/edu-platform/logs/"
    secrets:
      - db_user
      - db_password
      - student_bot_token
      - teacher_bot_token
      - admin_bot_token
      - parent_bot_token
      - google_api_key

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER_FILE: "/run/secrets/db_user"
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
      POSTGRES_DB: "${CONTOUR}-edu-platform"
    secrets:
      - db_user
      - db_password
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$(cat /run/secrets/db_user) -d ${CONTOUR}-edu-platform" ]
      interval: 10s
      timeout: 5s
      retries: 5

secrets:
  db_user:
    file: "${CONTOUR}_secrets/db_user"
  db_password:
    file: "${CONTOUR}_secrets/db_password"
  student_bot_token:
    file: "${CONTOUR}_secrets/student_bot_token"
  teacher_bot_token:
    file: "${CONTOUR}_secrets/teacher_bot_token"
  admin_bot_token:
    file: "${CONTOUR}_secrets/admin_bot_token"
  parent_bot_token:
    file: "${CONTOUR}_secrets/parent_bot_token"
  google_api_key:
    file: "${CONTOUR}_secrets/google_api_key.json"

volumes:
  postgres_data:
