{
  "googleSheetsConfig": {
    "serviceAccountKey": "google_api_key.json",
    "spreadsheetId": "1Fag65gVox83-z0V_GHgu_xvmlxWFTbBPos8NLKnznug"
  },
  "databaseConfig": {
    "url": "jdbc:postgresql://0.0.0.0:5432/dachshund",
    "driver": "org.postgresql.Driver",
    "login": "postgres",
    "password": "postgres"
  },
  "redisConfig" : {
    "host": "0.0.0.0",
    "port": "6379"
  }
}