{
  "googleSheetsConfig": {
    "serviceAccountKey": "google_api_key.json",
    "spreadsheetId": "1uP0XqbRCac9rFiBslD5tRVDMLvYbzCLM_W6t_BAhxes"
  },
  "databaseConfig": {
    "url": "jdbc:h2:./data/edu-platform",
    "driver": "org.h2.Driver",
    "login": "",
    "password": ""
  },
  "redisConfig" : {
    "host": "localhost",
    "port": "6379"
  }
}
